body, html {
    margin: 0;
    padding: 0;
} 

.main-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
  
.login-box {
    padding: 40px;
    text-align: center;
    width: 300px;
    background: transparent;
}
  
.logo {
    margin-bottom: 64px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-items: center;
    border: 1px solid white;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
    background: transparent;
}
  
.input-icon {
    margin-right: 10px;
    opacity: 0.7;
}
  
.form-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    opacity: 0.7;
}

.form-input::placeholder {
    color: white;
}

.form-input :focus{
    background-color: transparent;
    color: white;
}

.login-button-box{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}
  
.login-button {
    background-color: white;
    color: #264ECA;
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 24px;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.2);
}
  
.login-button:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.forgot-password {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}
  
.forgot-password:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
  
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: red;
    color: white;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.close-popup-button {
    padding: 2px;
    background: white;
    color: red;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close-popup-button:hover {
    background: red;
    border: 2px solid white;
    color: white;
}

.blank-page-text{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    color: white;
}


  